<nav
  class="navbar navbar-expand-lg navbar-light fixed-top"
  style="box-shadow: 0px 1px 10px #999;background: white"
>
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        class="img-responsive"
        src="../../assets/img/logo/logof.png"
        alt=""
      />
    </a>
    <button
      #navbarToggler
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item " routerLinkActive="activeli">
          <a class="nav-link" (click)="collapseNav(null)" routerLink="/home"
            >Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li
          class="nav-item"
          [ngClass]="isMenuSubOptionClicked.about ? 'activelisub' : ''"
          routerLinkActive="active-link"
        >
          <a
            class="nav-link"
            (click)="collapseNav('about')"
            [routerLink]="['home']"
            [fragment]="'about'"
            >About</a
          >
        </li>
        <li
          class="nav-item"
          [ngClass]="isMenuSubOptionClicked.flint ? 'activelisub' : ''"
          routerLinkActive="active-link"
        >
          <a
            class="nav-link"
            (click)="collapseNav('flint')"
            routerLink="/home"
            fragment="flint"
            >Flint Innovations</a
          >
        </li>
        <li
          class="nav-item"
          [ngClass]="isMenuSubOptionClicked.amnioticare ? 'activelisub' : ''"
          routerLinkActive="active-link"
        >
          <a
            class="nav-link"
            (click)="collapseNav('amnioticare')"
            routerLink="/home"
            fragment="amnioticare"
            >Amnioticare</a
          >
        </li>
        <li
          class="nav-item"
          [ngClass]="isMenuSubOptionClicked.ourclients ? 'activelisub' : ''"
          routerLinkActive="active-link"
        >
          <a
            class="nav-link"
            (click)="collapseNav('ourclients')"
            routerLink="/home"
            fragment="ourclients"
            >Our Clients</a
          >
        </li>
        <li class="nav-item" routerLinkActive="activeli">
          <a
            class="nav-link"
            (click)="collapseNav(null)"
            routerLink="/contact-us"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
