<br />
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../assets/img/intro-carousel/2.webp"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Some one line information if we need !</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../assets/img/intro-carousel/1.webp"
        alt="Random second slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Some one line information if we need !</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../assets/img/intro-carousel/3.webp"
        alt="Random third slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Some one line information if we need !</p>
    </div>
  </ng-template>
</ngb-carousel>
