<!-- <section id="products" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>Our Products</h2>

      <ul ngbNav #nav="ngbNav" class="nav-pills">
        <li ngbNavItem>
          <a ngbNavLink>Flint Innovations</a>
          <ng-template ngbNavContent
            ><app-flint-innovations></app-flint-innovations
          ></ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Amnioticare</a>
          <ng-template ngbNavContent
            ><app-amnioticare></app-amnioticare
          ></ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</section> -->
<app-flint-innovations></app-flint-innovations>
<app-amnioticare></app-amnioticare>
