<br />
<br />

<section id="about" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>RMU</h2>
      <p></p>
    </div>
    <div class="row">
      <div class="col-lg-6 about-img hover01">
        <h2 class="content"></h2>
        <figure><img src="../../assets/img/rmu/12kv.png" alt="" /></figure>
      </div>
      <div class="col-lg-6 content">
        <ul>
          <li>
            <i class="fa fa-check-circle"></i> Online ordering, tracking,
            notification to the customer
          </li>
          <li>
            <i class="fa fa-check-circle"></i> Quotation, invoice management,
            printing
          </li>
          <li><i class="fa fa-check-circle"></i> Profit and loss reports</li>
          <li><i class="fa fa-check-circle"></i> Email, SMS integration</li>
          <li>
            <i class="fa fa-check-circle"></i> Payment gateway integration.
          </li>
        </ul>
      </div>
    </div>
    <br />
    <br />
    <div class="section-header">
      <h2>
        SF6 gas insulated RMU, fully weather proof with IP54 for outdoor
        applications.
      </h2>

      <h4>Characteristics</h4>
      <p>
        • Up to 24 kV and 630 A ratings<br />
        • Non extensible, extensible and modular range<br />
        • Switching functions enclosed in SF6 gas insulated robotically welded
        stainless steel tank sealed for life<br />
        • Intuitive single line mimic diagram for simple and safe operation<br />
        • Choice of wide range of self/auxiliary powered relay protection<br />
        • Options with a number of variants and metering facilities<br />
        • Fully interlocked aperation with padlocking facility for maximum
        operator protection<br />
        • Internal arc classified including cable boxes as per latest IEC 62271
        standards<br />
        • Actuators (motorised) for ring switches and circuit brcakers<br />
        • IP54 for outdoor installation without requiring kiosk<br />
        • Seamless integration with SCADA network for remote operation and
        control<br />
        • Maintenance free and low environmental Impact
      </p>
      <br />

      <h4></h4>
      <p></p>
      <img class="img-responsive" src="../../assets/img/rmu/22kv.png" alt="" />
    </div>

    <div class="section-header">
      <h2>Customer Benefits:</h2>

      <h3></h3>
      <br />
      <h4>■ Peace of mind</h4>
      <p>
        * Gas insulated, metal enclosed, indoor/outdoor, Extensible/non-
        extensible factory assembled type tested switchgear as per new IEC
        62271-100/200.<br />
        * Stringent quality standards as per 1SQ9001 and 14001.
      </p>
      <br />

      <h4>■Saves Lives</h4>
      <p>
        * Internal arc fault tested switchgear including cable compartment<br />
        * Capacitive voltage detection system for verification of safe isolation
        from supply.
      </p>
      <br />

      <h4>■Increases Productivity</h4>
      <p>
        *All switching operations and cable access from the front.<br />
        * Safe to touch and hermitically sealed, gas tight, welded stainless
        steel primary enclosure, independent of environmental effects (dust,
        moisture, vermins etc.)<br />
        * Extensible on either sides.
      </p>
      <br />

      <h4>■ Saves Money</h4>
      <br />
      <p>
        * Single switching element for load breaking, disconnecting and
        earthing.<br />
        « Maintenance free operating mechanism accessible outside the high
        voltage enclosure<br />
        « Most compact individual panel/ block type construction, ensuring
        minimum space requirement
      </p>
      <br />

      <h4>■ Design and Construction</h4>
      <br />
      <p>
        * Ring feeders with three position switch disconnectors (option: with
        auxiliary switch).<br />

        * Circuit breaker feeder with combined Vacuum interrupter Dis-connector
        and earthing switch<br />

        * Capacitive voltage detection system for all feeders.<br />

        * Protective self-powered relay & current transformers for transformer
        protection.<br />

        * Individual panel / block type construction<br />

        * Manual operating mechanism (option: with motor).<br />

        * Cable connection from front.<br />

        * Logical mechanical interlocks.<br />

        * Gas pressure monitoring via Manometer
      </p>
      <br />

      <img
        class="img-responsive"
        src="../../assets/img/rmu/12kv RMU.png"
        alt=""
      />
      <br />
      <br />
      <h4>■ Options:</h4>
      <br />
      <p>
        * Short circuit / earth fault indicators for ring feeders.<br />

        * Shunt release for VCB feeders.<br />

        * Motor-operated ring & VCB feeders<br />

        * Local/remote selector switch for motorized feeders.<br />

        * Provision for two runs of cable connection max Up to 3Cx300 sq.mm
      </p>
      <br />
    </div>

    <h4 class="content"></h4>
  </div>

  <section id="about" class="wow fadeInUp">
    <div class="container contact-form">
      <div
        class="form-01 consult-form js-consult-form__content"
        id="form01"
        style="bottom: -255px;"
      >
        <h2 class="form-01__title">
          RMU
          <h3></h3>
          <h3></h3>
        </h2>

        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="text"
                  name="txtName"
                  class="form-control"
                  placeholder="Your Name *"
                  [(ngModel)]="name"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="txtEmail"
                  class="form-control"
                  placeholder="Your Email *"
                  [(ngModel)]="email"
                />
              </div>

              <div class="form-group">
                <select class=" form-control" name="cars" id="cars">
                  <option value="" disabled selected hidden
                    >Rated Voltage
                  </option>
                  <option value="11kV">11kV</option>
                  <option value="22kV">22kV</option>
                  <option value="33kV">33kV</option>
                </select>
              </div>

              <div class="form-group">
                <select class=" form-control" name="cars" id="cars">
                  <option value="" disabled selected hidden
                    >Fault Level
                  </option>
                  <option value="16kA">16kA </option>
                  <option value="21kA">21kA </option>
                  <option value="25kA">25kA </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea
                  name="txtMsg"
                  [(ngModel)]="txtmsg"
                  class="form-control"
                  placeholder="Please Enter The RMU Configuration *"
                  style="width: 100%; height: 200px;"
                ></textarea>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn1">
                  <a href="{{ gethref() }}">
                    Submit Enquiry
                  </a>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</section>
