<section id="about" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>Our Clients</h2>
    </div>

    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <a
          ><img
            routerLink="/our-client"
            style="display: inline-block;"
            src="../../assets/img/our-clients/12. K Raheja Corp.jpg"
        /></a>
      </ng-template>

      <ng-template carouselSlide>
        <img
          routerLink="/our-client"
          style="display: inline-block;"
          src="../../assets/img/our-clients/2. ABIL.png"
        />
      </ng-template>

      <ng-template carouselSlide
        ><img
          routerLink="/our-client"
          style="display: inline-block;"
          src="../../assets/img/our-clients/3. TENNECO.jpg"
      /></ng-template>

      <ng-template carouselSlide
        ><img
          routerLink="/our-client"
          style="display: inline-block;"
          src="../../assets/img/our-clients/4. Thyssenkrupp.jpg"
      /></ng-template>

      <ng-template carouselSlide
        ><img
          routerLink="/our-client"
          style="display: inline-block;"
          src="../../assets/img/our-clients/17. SOEX Flora.png"
      /></ng-template>

      <ng-template carouselSlide
        ><img
          routerLink="/our-client"
          style="display: inline-block;"
          src="../../assets/img/our-clients/18. Ultratech.png"
      /></ng-template>

      <ng-template carouselSlide
        ><img
          routerLink="/our-client"
          style="display: inline-block;"
          src="../../assets/img/our-clients/15.Pune Metro.jpeg"
        />
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
