<section id="about" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2 style="color: coral">Flint Innovations</h2>
      <p style="text-align: justify;"></p>
    </div>
    <div class="row">
      <div class="col-lg-6 about-img hover01 mt-2">
        <h2 class="content">HT Panels</h2>
        <figure>
          <img
            style="height: 300px;"
            src="../../assets/img/htpanels/general.png"
            alt=""
          />
        </figure>
      </div>
      <div class="col-lg-6 content mt-4">
        <h3>
          Light weight and compact vacuum circuit breakerconsisting of three
          encapsulated poles and a drive mechanism housing which forms a sturdy
          base for poles.
        </h3>
        <ul>
          <li>
            <i class="fa fa-check-circle"></i> We have Both 12kV and 36kV HT
            Panels.
          </li>
          <li>
            <i class="fa fa-check-circle"></i> Constant low contact resistance.
          </li>
          <li><i class="fa fa-check-circle"></i> Fastest recovery strength.</li>
          <li>
            <i class="fa fa-check-circle"></i> No fire hazards or explosion
            risk.
          </li>
          <li>
            <i class="fa fa-check-circle"></i> Lowest drive energy requirements.
          </li>
        </ul>
        <h3>
          <a
            routerLink="/htpanels"
            style="display: inline-block;color: rgb(255, 145, 0)"
            >Know more.</a
          >
        </h3>
        <br />
      </div>

      <div class="col-lg-6 about-img hover01 mt-4">
        <h2 class="content">Busducts</h2>
        <figure>
          <img src="../../assets/img/busduct/busduct.png" alt="" />
        </figure>
      </div>
      <div class="col-lg-6 content mt-4">
        <h3>
          All busducts are type tested to international standards.
        </h3>
        <br />
        <ul>
          <li>
            <i class="fa fa-check-circle"></i> Low Impedence And Low Voltage
            drop
          </li>
          <li>
            <i class="fa fa-check-circle"></i> Low Maintainance And Compact
            Space Saving
          </li>
          <li><i class="fa fa-check-circle"></i> High Mechanical Strength</li>
          <li>
            <i class="fa fa-check-circle"></i> Withstand High Shortcirciuts
          </li>
          <li>
            <i class="fa fa-check-circle"></i> Payment gateway integration.
          </li>
        </ul>
        <h3>
          <a
            routerLink="/busduct"
            style="display: inline-block;color: rgb(255, 145, 0)"
            >Know more.</a
          >
        </h3>
        <br />
      </div>

      <div class="col-lg-6 about-img hover01 mt-4">
        <h2 class="content">RMU</h2>
        <figure>
          <img style="height: 250px;" src="../../assets/img/rmu/12kv.png" />
        </figure>
      </div>
      <div class="col-lg-6 content margin-top mt-4">
        <h3>
          We have the Gas Insulated Secondary Distribution Switchgear Type upto
          12kV. And we also have Lateral and rear cable terminattion, Gas
          insulator RMU 22kV, Fully wetahter proof with outdoor applications.
        </h3>
        <ul>
          <li>
            <i class="fa fa-check-circle"></i> Cheaper than other products in
            market.
          </li>
          <li><i class="fa fa-check-circle"></i> Increases productivity</li>
          <li><i class="fa fa-check-circle"></i> Saves manpower</li>
          <li>
            <i class="fa fa-check-circle"></i> Maintainance free and low
            environmental impact.
          </li>
        </ul>
        <h3>
          <a
            routerLink="/rmu"
            style="display: inline-block;color: rgb(255, 145, 0)"
            >Know more.</a
          >
        </h3>
      </div>
    </div>
  </div>
</section>
