<section id="about" class="wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 about-img hover01">
        <figure><img src="../../assets/img/home/1.webp" alt="" /></figure>
      </div>

      <div class="col-lg-6 content">
        <h2>What We Do ?</h2>
        <h3>
          Our innovators and experts make life easier by giving high quality
          solution to our customers.
        </h3>

        <ul>
          <li>
            <i class="fa fa-check-circle"></i>We offer end to end services in
            software development, web development, mobile and native app
            development.
          </li>
          <li>
            <i class="fa fa-check-circle"></i>Our overall process includes
            concept, design, development, implementation and
            support/maintenance.
          </li>
          <li>
            <i class="fa fa-check-circle"></i>We have a squad of experts, who
            are working on modern technologies and tools with vast experience.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
