<section id="about" class="wow fadeInUp">
  <div class="container">

    <div class="section-header">
      <h2> Services We Offer</h2>
      <p> We bring together a comprehensive portfolio of implementation services, transformative IT strategy services,
        world class support, and training and certification so you can become a valued business partner to your
        stakeholders.</p>
    </div>
    <div class="row"> 
      <div class="col-lg-6 about-img hover01">
        <figure><img src="../../assets/img/services/life-science.webp" alt=""></figure>
      </div>
      <div class="col-lg-6 content">
        <h2>Life Science </h2>
        <h3>We follow key trends in Life Science </h3>

        <ul>
          <li><i class="fa fa-check-circle"></i> Better analytics and research </li>
          <li><i class="fa fa-check-circle"></i> Connectivity with cloud </li>
          <li><i class="fa fa-check-circle"></i> Mobile & Native App Development (Android, iOS)</li>
          <li><i class="fa fa-check-circle"></i> Chatbots which can interact with customers seamlessly</li>
          <li><i class="fa fa-check-circle"></i> Software Maintenance and Support</li>

        </ul>
      </div>

      <div class="col-lg-6 content margin-top">
        <h2>Insurance </h2>
        <h3> We provide improved efficiency through the use of new-age technology </h3>

        <ul>
          <li><i class="fa fa-check-circle"></i> New Models, Personalized Products</li>
          <li><i class="fa fa-check-circle"></i> Advanced Analytics & Proactiveness</li>
          <li><i class="fa fa-check-circle"></i> Identifying risk of fraud</li>
          <li><i class="fa fa-check-circle"></i> Chatbots which can interact with customers seamlessly</li>
          <li><i class="fa fa-check-circle"></i> Custom Enterprise Software Development</li>
        </ul>
      </div>
      <div class="col-lg-6 about-img hover01 margin-top">
        <figure><img src="../../assets/img/services/insurance.webp" alt=""></figure>
      </div>

      <div class="col-lg-6 about-img hover01 margin-top">
        <figure><img src="../../assets/img/services/e-commerce.webp " alt=""></figure>
      </div>
      <div class="col-lg-6 content margin-top">
        <h2>E-Commerce</h2>
        <h3>We make E-commerce available Everywhere with </h3>
        <ul>
          <li><i class="fa fa-check-circle"></i> Internet of Things</li>
          <li><i class="fa fa-check-circle"></i> Best data visualization techniques</li>
          <li><i class="fa fa-check-circle"></i> Mobile Apps & eWallet Technology</li>
          <li><i class="fa fa-check-circle"></i> Personalized Recommendations </li>
          <li><i class="fa fa-check-circle"></i> Mobile & Native App Development (Android, iOS)</li>
        </ul>
      </div>

      <div class="col-lg-6 content margin-top">
        <h2>Government and defense</h2>
        <h3> We provide secure applications platform with</h3>
        <ul>
          <li><i class="fa fa-check-circle"></i> Autherization and authentication security</li>
          <li><i class="fa fa-check-circle"></i> Detection of frauds</li>
          <li><i class="fa fa-check-circle"></i> Encrypted Communication</li>
          <li><i class="fa fa-check-circle"></i> Customized functionality </li>
          <li><i class="fa fa-check-circle"></i> Mobile & Native App Development (Android, iOS)</li>
        </ul>
      </div>
      <div class="col-lg-6 about-img hover01 margin-top">
        <figure><img src="../../assets/img/services/government.webp" alt=""></figure>
      </div>

    </div>

  </div>
</section>