<!--==========================
    Intro Section
  ============================-->

<!-- #intro -->
<!-- <app-header2></app-header2> -->
<main style="scroll-behavior: smooth" id="main">
  <app-caroucel></app-caroucel>

  <!--==========================
          About Section
        ============================-->

  <!-- #about -->

  <!--==========================
          Services Section
        ============================-->
  <div id="about"><app-about-us></app-about-us></div>
  <app-contact></app-contact>

  <!-- <app-our-products></app-our-products> -->
  <div id="flint"><br /><app-flint-innovations></app-flint-innovations></div>
  <div id="amnioticare"><br /><app-amnioticare></app-amnioticare></div>
  <!-- <app-portfolio></app-portfolio> -->
  <div id="ourclients">
    <br />
    <app-our-clients></app-our-clients>
  </div>
  <!-- #services -->

  <!--===============
    Counter Section
 ==================-->
</main>
