<section id="services">
  <div class="container">
    <div class="section-header">
      <h2>Facts</h2>
      <p>Facts bespeaks Sharvay Solutions</p>
    </div>

    <div class="row text-center">
      <div class="col-lg-3 counter-margin">
        <div class="counter">
          <i class="fa fa-users fa-2x"></i>
          <h2
            class="timer count-title count-number"
            data-to="100"
            data-speed="1500"
          >
            11
          </h2>
          <p class="count-text ">Our Clients</p>
        </div>
      </div>
      <div class="col-lg-3 counter-margin">
        <div class="counter">
          <i class="fa fa-code fa-2x"></i>
          <h2
            class="timer count-title count-number"
            data-to="1700"
            data-speed="1500"
          >
            19
          </h2>
          <p class="count-text ">Projects</p>
        </div>
      </div>
      <div class="col-lg-3 counter-margin">
        <div class="counter">
          <i class="fa fa-clock-o fa-2x"></i>
          <h2
            class="timer count-title count-number"
            data-to="11900"
            data-speed="1500"
          >
            2351
          </h2>
          <p class="count-text ">Hours of Support</p>
        </div>
      </div>
      <div class="col-lg-3 counter-margin">
        <div class="counter">
          <i class="fa fa-briefcase fa-2x"></i>
          <h2
            class="timer count-title count-number"
            data-to="157"
            data-speed="1500"
          >
            13
          </h2>
          <p class="count-text ">Hard Workers</p>
        </div>
      </div>
    </div>
  </div>
</section>
