  <section id="about" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2> Careers</h2>
            <p> </p>
        </div>
        <div class="row">
            <div class="col-lg-6 content"> 
                <p>
                    We are always looking for self motivated technical experts at different levels. We believe that the
                    professional progression of an employee should be independent of the age and number of years of
                    experience. It should be completely dependent on the individual's potential, capabilities and
                    willing to work with full dedication. We provide opportunities for individual to grow in terms of
                    skills enhancement, personal development and career growth. Sharvay Solutions offers you a fast paced
                    career with all-around exposure along with an opportunity to be at the forefront cutting-edge
                    technologies. If you believe in accepting no limits and are willing to drive positive change to our
                    customer business then you are welcome in team Sharvay Solutions. Please send your resume to
                    <span>sharvaysolutions@gmail.com</span> for exciting career opportunities.
                </p>
            </div>
            <div class="col-lg-6 about-img hover01">
                <figure><img src="../../assets/img/careers/handshake.webp" alt=""></figure>
            </div>
        </div>

    </div>
</section> 