<section id="about" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2> Our Work</h2>
            <p> We bring together a comprehensive portfolio of implementation services, transformative IT strategy
                services,
                world class support, and training and certification so you can become a valued business partner to your
                stakeholders.</p>
        </div>
        <div class="row">

            <div class="col-lg-6 about-img hover01">
                <h2 class="content">Order Management System </h2>
                <figure><img src="../../assets/img/our-work/order.webp" alt=""></figure>
            </div>
            <div class="col-lg-6 content">
                <h3>An order management system (OMS) is an electronic system developed to provide one centralized place
                    to manage orders from all sales channels of an organisation.</h3>
                <ul>
                    <li><i class="fa fa-check-circle"></i> Online ordering, tracking, notification to the
                        customer </li>
                    <li><i class="fa fa-check-circle"></i> Quotation, invoice management, printing </li>
                    <li><i class="fa fa-check-circle"></i> Profit and loss reports</li>
                    <li><i class="fa fa-check-circle"></i> Email, SMS integration</li>
                    <li><i class="fa fa-check-circle"></i> Payment gateway integration.</li>
                </ul>
            </div>

            <div class="col-lg-6 content">
                <h3>This is complete and collected office automation software developed for a organization. It has two
                    front first for INDIA facility and other for USA facility. </h3>
                <ul>
                    <li><i class="fa fa-check-circle"></i> Permission based access control </li>
                    <li><i class="fa fa-check-circle"></i> Employee, Timesheet, Payroll management </li>
                    <li><i class="fa fa-check-circle"></i> Work estimation, Execution progress</li>
                    <li><i class="fa fa-check-circle"></i> Billing System, Status management</li>
                    <li><i class="fa fa-check-circle"></i> User Role based notification</li>
                </ul>
            </div>
            <div class="col-lg-6 about-img hover01">
                <h2 class="content">Office Automation Software</h2>
                <figure><img src="../../assets/img/our-work/office.webp" alt=""></figure>
            </div>

            <div class="col-lg-6 about-img hover01">
                <h2 class="content">Learning Management Solution </h2>
                <figure><img src="../../assets/img/our-work/learning.webp" alt=""></figure>
            </div>
            <div class="col-lg-6 content margin-top">
                <h3>Complete Learning Management Solution with following features and mobile application</h3>
                <ul>
                    <li><i class="fa fa-check-circle"></i> Student Management</li>
                    <li><i class="fa fa-check-circle"></i> Exam Management</li>
                    <li><i class="fa fa-check-circle"></i> Report Card Management</li>
                    <li><i class="fa fa-check-circle"></i> Notification to Students, Parents and Teachers
                    </li>
                    <li><i class="fa fa-check-circle"></i> Courseware Management</li>
                </ul>
            </div>

            <div class="col-lg-6 content margin-top">
                <h3>Dashboard with charts and graphs to show the data center server health status.</h3>
                <ul>
                    <li><i class="fa fa-check-circle"></i> Interactive charts and graphs with drill down
                        features to show more detailed/filtered details</li>
                    <li><i class="fa fa-check-circle"></i> Configurable features like auto-refresh time, save
                        the preferred view, etc.</li>
                    <li><i class="fa fa-check-circle"></i> Mobile & Native App Development (Android, iOS)</li>
                </ul>
            </div>
            <div class="col-lg-6 about-img hover01">
                <h2 class="content">Server Health Dashboard</h2>
                <figure><img src="../../assets/img/our-work/server.webp" alt=""></figure>
            </div>

            <div class="col-lg-6 about-img hover01">
                <h2 class="content">Inventory Management Solution </h2>
                <figure><img src="../../assets/img/our-work/inventory.webp" alt=""></figure>
            </div>
            <div class="col-lg-6 content margin-top">
                <h3>We designed and developed an inventory management system for small and medium enterprises</h3>
                <ul>
                    <li><i class="fa fa-check-circle"></i> Customer, Vendor, Employee Management</li>
                    <li><i class="fa fa-check-circle"></i> Material Management with Bar Code printing</li>
                    <li><i class="fa fa-check-circle"></i> Notification about the item inventory</li>
                    <li><i class="fa fa-check-circle"></i> Mobile & Native App Development (Android, iOS)
                    </li>
                </ul>
            </div>

        </div>

    </div>
</section>