<br />
<br />
<br />
<section id="contact" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>Contact Us</h2>
    </div>

    <div class="row contact-info">
      <div class="col-md-6">
        <div class="mapouter">
          <div class="gmap_canvas">
            <div class="embed-responsive embed-responsive-4by3">
              <iframe
                class="embed-responsive-item"
                src="https://maps.google.com/maps?q=flint%20innovations&t=&z=11&ie=UTF8&iwloc=&output=embed"
                alt="Flint Innovations Google Map View When Active Internet Connection"
              ></iframe>
            </div>
          </div>
          <style></style>
        </div>
      </div>

      <div class="col-md-6">
        <div class="contact-address">
          <i class="ion-ios-location-outline"></i>
          <h3>Address</h3>
          <address>
            <a target="_blank" href="https://goo.gl/maps/3UATRbUgv8obEsvCA"
              >Sr. No. 77/1/1, Vishnumalti Industrial Estate, <br />Shivane,
              Pune, Maharashtra 411023</a
            >
          </address>
        </div>
        <div class="contact-phone">
          <i class=""></i>
          <h3>Phone Number</h3>
          <p><a href="tel:+919970079813">+91 9970079813</a></p>
        </div>
        <div class="contact-email">
          <i class="ion-ios-email-outline"></i>
          <h3>Email</h3>
          <p>
            <a href="mailto:sharvaysolutions@gmail.com">ourmailid@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- https://mail.google.com/mail/?view=cm&fs=1&to=email@domain.com -->
  <!--===========
        Contact form 
        ===============-->
  <!-- <app-support></app-support> -->
  <!--End of contact form-->
</section>
