<br />
<br />

<section id="about" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>HT Panels</h2>
      <p></p>
    </div>
    <div class="row">
      <div class="col-lg-6 about-img hover01">
        <h2 class="content"></h2>
        <figure>
          <img
            style="height: 400px;"
            src="../../assets/img/htpanels/general.png"
            alt=""
          />
        </figure>
      </div>
      <div class="col-lg-6 content">
        <ul>
          <li>
            <i class="fa fa-check-circle"></i> Online ordering, tracking,
            notification to the customer
          </li>
          <li>
            <i class="fa fa-check-circle"></i> Quotation, invoice management,
            printing
          </li>
          <li><i class="fa fa-check-circle"></i> Profit and loss reports</li>
          <li><i class="fa fa-check-circle"></i> Email, SMS integration</li>
          <li>
            <i class="fa fa-check-circle"></i> Payment gateway integration.
          </li>
        </ul>
      </div>
    </div>
    <br />
    <br />
    <div class="section-header">
      <h2>
        Indoor Metal-clad Switchgear with Vacuum Circuit Breaker on withdrawable
        truck upto 36 kV
      </h2>
      <br />
      <h4>Construction <br /></h4>
      <p>
        • Class PM air insulated switchgear<br />
        • Single busbar system<br />
        • Circuit breaker mounted on withdrawable truck
      </p>
      <br />

      <h4>Standards<br /></h4>
      <p>
        • IEC 62271-100<br />
        • IEC 62271-200<br />
        • IEC 62271-1
      </p>
      <br />

      <h4>Personnel safety<br /></h4>
      <p>
        • All switching operations performed with front door closed<br />
        • Earthed metal partitions and shutters prevent contact with live parts
      </p>
      <br />
      <h4>Tolerance to environment</h4>
      <p>
        • Full metal enclosure ensures high resistance to ingress and
        interference under all operating conditions<br />
        • Insulators have high anti-tracking qualities
      </p>
      <br />

      <h4>Operational security /Maintenance</h4>
      <p>
        • Full mechanical interlocking<br />
        • Access door fully integrated in interlock system<br />
        • Service-proven maintenance free vacuum circuit breaker, hermetically
        sealed vacuum interrupters, low maintenance<br />
        drive mechanism
      </p>
      <br />

      <h4>Special features</h4>
      <p>
        • Circuit breaker mounted on withdrawable truck<br />
        • Safe easy truck movement behind closed cubicle door<br />
        • Earthed metal partitions and shutters • Hollow triangular busbars<br />
        • Access to cable terminals from the rear<br />
        • Individually padlockable shutters for bus and cable side<br />
        • Simplicity and robustness of operating mechanism with minimum
        linkages<br />
        • Independent pressure relief vents for all HT compartments<br />
        • Cable termination height upto 850 mm
      </p>
      <br />
    </div>
    <img
      class="img-responsive"
      src="../../assets/img/htpanels/12kV.png"
      alt=""
    />
    <br />
    <br />

    <div class="section-header">
      <h2>
        Vacuum Circuit-Breaker Switchgear Type 8BK88 PLUS, upto 12kV, Air
        Insulated
      </h2>

      <h4>Construction</h4>
      <p>
        • Light weight and compact vacuum circuit breaker consisting of three
        encapsulated poles and a drive mechanism housing which forms a sturdy
        base for poles.<br />
        • Operating mechanism is of stored energy type and suitable for auto
        reclosing duty. It can be manual/electrical as desired.<br />
        • Fully integrated contact arms with tulip type contacts.
      </p>
      <br />

      <h4>Salient features</h4>
      <p>
        • Conforms to IEC standards and is fully type tested.<br />
        • Simple and compact design.<br />
        • Totally restrike free.<br />
        • Suitable for rapid autoreclosing duty.<br />
        • Highly reliable operation.<br />
        • Matching drive and interrupter characteristics.<br />
        • All type tests carried out with VCB mounted inside the panel
      </p>
      <br />

      <h4>Advantages of vacuum over other interrupting media</h4>
      <p>
        • Highest dielectric strength over a small contact gap.<br />
        • Constant low contact resistance.<br />
        • Fastest recovery strength.<br />
        • Lowest arc energy dissipation.<br />
        • Lowest drive energy requirements.<br />
        • Minimum contact erosion.<br />
        • No fire hazards or explosion risk.<br />
        • VCB has least number of moving parts and hence highest reliability.
      </p>
      <br />

      <h4></h4>
      <p></p>

      <h4></h4>
      <p></p>

      <h4></h4>
      <p></p>
    </div>
  </div>

  <section id="about" class="wow fadeInUp">
    <div class="container contact-form">
      <div
        class="form-01 consult-form js-consult-form__content"
        id="form01"
        style="bottom: -255px;"
      >
        <h2 class="form-01__title">
          HT Panels
          <h3></h3>
          <h3></h3>
        </h2>

        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="text"
                  name="txtName"
                  class="form-control"
                  placeholder="Your Name *"
                  [(ngModel)]="name"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="txtEmail"
                  class="form-control"
                  placeholder="Your Email *"
                  [(ngModel)]="email"
                />
              </div>
              <div class="form-group">
                <select class=" form-control" name="cars" id="cars">
                  <option value="" disabled selected hidden
                    >Rated Voltage
                  </option>
                  <option value="3.3kV">3.3kV</option>
                  <option value="6.6 kV">6.6 kV</option>
                  <option value="11kV">11kV</option>
                  <option value="22kV">22kV</option>
                  <option value="33kV">33kV</option>
                </select>
              </div>

              <div class="form-group">
                <select class=" form-control pointer" name="cars" id="cars">
                  <option value="" disabled selected hidden
                    >Rated Current
                  </option>
                  <option value="630A">630A </option>
                  <option value="800A">800A </option>
                  <option value="1250A">1250A </option>
                  <option value="1600A">1600A </option>
                  <option value="2000A">2000A </option>
                  <option value="2500A">2500A </option>

                  <option value="3150A">3150A </option>

                  <option value="4000A">4000A </option>
                </select>
              </div>

              <div class="form-group">
                <select class=" form-control pointer" name="cars" id="cars">
                  <option value="" disabled selected hidden
                    >Fault Level
                  </option>
                  <option value="26.3kA">26.3kA </option>
                  <option value="31.5kA">31.5kA </option>
                  <option value="40kA">40kA </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea
                  name="txtMsg"
                  [(ngModel)]="txtmsg"
                  class="form-control"
                  placeholder="Your Message *"
                  style="width: 100%; height: 250px;"
                ></textarea>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn1">
                  <a href="{{ gethref() }}">
                    Submit Enquiry
                  </a>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</section>
